<footer>
  <div class="footer-content">
    <h3>Boogie-Post</h3>
    <p>Created by Clyde. Providing web blogs since 2024</p>
    <p>Copyright © 2024 - All right reserved</p>
  </div>
  <div class="social">
    <a
      target="_blank"
      href="https://www.linkedin.com/in/clyde-julian-marindo-3a7888275/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://github.com/Clydie-Juls"
      ><i class="fa-brands fa-github"></i
    ></a>
  </div>
</footer>
