<div class="overlay">
  <div class="mb-nav">
    <ul>
      <li>
        <button class="exit">
          <i class="fa-regular fa-circle-xmark" style="color: #ffffff"></i>
        </button>
      </li>
      <li><a href="/">Read Blog</a></li>
      <li><a href="/write">Write Blog</a></li>
    </ul>
  </div>
</div>
<nav class="container">
  <div class="logo-container"><h3>Boogie-Post</h3></div>
  <div class="menu">
    <ul>
      <li><a href="/">Read Blog</a></li>
      <li><a href="/write">Write Blog</a></li>
      <div class="hamburger-menu">&#9776;</div>
    </ul>
  </div>
</nav>
